<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Your Orders</h1>

    <div>
      <%= link_to 'New Ice Cream Order', new_ice_cream_path %>
    </div>

    <% if @ice_creams.size > 0 %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order #</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @ice_creams.each do |ice_cream| %>
            <tr>
              <td><%= link_to "Order ##{ice_cream.id}", edit_ice_cream_path(ice_cream) %></td>
              <td><%= number_to_currency(ice_cream.price / 100.0) %></td>
              <td><%= link_to 'Delete', ice_cream_path(ice_cream), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
