<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Your Orders</h1>

    <div>
      <%= link_to 'New Order', new_order_path %>
    </div>

    <% if @orders.size > 0 %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order #</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to "Order ##{order.id}", edit_order_path(order) %></td>
              <td><%= number_to_currency(order.price / 100.0) %></td>
              <td><%= link_to 'Delete', order_path(order), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
